<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tópicos de Estudo</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Tópicos de Estudo</h1>
    <p id="topico-atual">
        <span class="negrito">Próximo Tópico:</span> 
        <span class="verde">Carregando...</span>
    </p>

    <div>
        <button class="button" onclick="avancarTopico()">Avançar Tópico</button>
        <button class="button" id="concluir-topico" onclick="concluirTopico()">Concluir Tópico</button>
    </div>

    <a href="/" class="link">Voltar ao Menu</a>

    <div id="mensagem-container"></div>
    <script src="/static/js/script.js"></script>

    <script>
        const concluirTopico = async () => {
            const response = await fetch('/concluir_topico', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.progresso_atual >= data.limite) {
                document.getElementById('concluir-topico').disabled = true;
            }
        };

        // Função para verificar o estado inicial do botão
        const verificarEstadoBotao = async () => {
            const response = await fetch('/verificar_estado_botao', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            if (data.todos_concluidos) {
                document.getElementById('concluir-topico').disabled = true;
            }
        };

        // Verificação inicial
        verificarEstadoBotao();
    </script>
</body>
</html>